.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-azul);
    padding: 0 20px;
    user-select: none;
    z-index: 9999;
}

.header .logo {
    color: var(--cor-branca);

    &:hover {
        opacity: .7;
    }
}

.header .logo span {
    font-size: .6rem;
}

.header .submenu_container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .submenu_container .links_de_entrar {
    display: flex;
    gap: 10px;
}

.header .submenu_container .links_de_entrar a {
    color: var(--cor-branca);
    padding: 10px;
    border-radius: 5px;
}

.header .submenu_container .links_de_entrar a:nth-child(2) {
    background-color: var(--cor-branca);
    color: var(--cor-preta);
}

.header .sub_menu {
    top: 0;
    margin-top: 50px;
    position: absolute;
    right: 20px;
    background-color: var(--cor-branca);
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: var(--sombra-suave);
    animation: ParaBaixo .3s ease;
    overflow: hidden;
    width: 100%;
    max-width: 280px;
    transform: translateY(5px);
}

.header .sub_menu .sub_menu_header {
    display: flex;
    gap: 10px;
    padding: 0 20px;
}

.header .sub_menu .sub_menu_header img {
    border-radius: 100%;
}

.header .sub_menu .sub_menu_header .nome {
    font-weight: 500;
}

.header .sub_menu .sub_menu_header .codigo {
    color: var(--cor-do-texto);
}

.header .sub_menu ul {
    margin-top: 10px;
    gap: 2px;
}

.header .sub_menu a {
    color: var(--cor-do-texto);
    align-items: center;
    padding: 0 20px;
    width: 100%;
    justify-content: left;
    height: 35px;
    line-height: 1.1;

    &:hover {
        background-color: var(--cor-azul);
        color: var(--cor-branca);
    }
}

.header .sub_menu button {
    height: 35px;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    width: 85%;
    display: flex;
    border: var(--borda-suave);

    &:hover {
        background-color: var(--cor-vermelha);
        border: var(--borda-none);
        color: var(--cor-branca);
    }
}

@media screen and (max-width: 315px) {
    .header .sub_menu {
        max-width: 85%;
    }
}

@media screen and (max-width: 280px) {
    .header .sub_menu .sub_menu_header {
        display: none;
    }

    .header .sub_menu ul {
        margin-top: 0;
    }
}

@media screen and (max-width: 250px) {
    .header .sub_menu ul {
        gap: 10px;
    }

    .header .sub_menu a {
        align-items: flex-start;
    }
}