* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-preta: #000;
    --cor-cinza: #a1a1a1;
    --cor-cinza-suave: #e6e6e6;
    --cor-azul: #0B4D9C;
    --cor-azul-hover: #136cda;
    --cor-azul-transparent: #0B4D9C20;
    --cor-branca: #fff;
    --cor-vermelha: #ff0000;
    --cor-vermelha-transparent: #ff000020;
    --cor-verde: #038f5c;
    --cor-do-titulo: var(--cor-preta);
    --cor-do-texto: #444;
    --cor-do-texto-label: #222;
    --sombra-suave: -3px 3px 20px 0 #00000022;
    --borda: 1px solid #000000;
    --borda-suave: 1px solid #00000068;
    --borda-none: 1px solid transparent;
    --borda-preta: 1px solid var(--cor-preta);
}

html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
    font-family: "Public Sans", Arial, Helvetica, sans-serif;
    font-display: swap;
    font-size: 1rem;
}

body {
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

main {
    margin: 70px 0 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

button,
label,
textarea,
input,
ul,
li {
    font-size: 1rem;
    color: var(--cor-do-texto);
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    transition: .2s ease;

    &:active {
        opacity: .8;
        transition: 0 ease;
    }
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    outline: 0;
    border: 0;
    gap: 7px;
    color: var(--cor-do-texto);
    transition: .2s ease;

    &:active {
        opacity: .8;
        transition: 0 ease;
    }
}

input,
select {
    width: 100%;
    padding: 0 10px;
    height: 50px;
    border-radius: 5px;
    color: var(--cor-do-titulo);
    outline: 0;
    border: 2px solid var(--cor-cinza);

    &:focus {
        border: 2px solid var(--cor-azul-hover);
    }

    &::placeholder {
        color: var(--cor-cinza);
    }
}

input {
    background-color: transparent;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    padding-right: 1rem;
    cursor: pointer;
}

.btn_img {
    border-radius: 100%;

    & img {
        border-radius: 100%;
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
        font-size: 1.2rem;
    }
}

.titulo1,
.titulo2,
.titulo3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor-do-titulo);
}

.titulo2 {
    font-size: 1.3rem;
}

.titulo3 {
    font-size: 1.1rem;
}

.Btn {
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
    gap: 20px;

    & button {
        padding: 10px 20px;
        border-radius: 5px;
        color: var(--cor-branca);
        gap: 7px;
    }

    & button:nth-child(1) {
        background-color: var(--cor-azul);

        &:hover {
            background-color: var(--cor-azul-hover);
        }

        &:focus {
            outline: 2px solid var(--cor-preta);
            background-color: var(--cor-azul-hover);
        }
    }
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        background-color: transparent;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

@keyframes ParaBaixo {
    from {
        transform: translateY(0);
        opacity: 0;
    }
}